*{
    margin:0; 
    padding:0;
   }
   
   body
   {
     background: #66001f;  
   }
   
   header
   {
     overflow:hidden;
     margin-bottom: 30px;
     background:#1a0008;
     width:100%;
   
   }
   header .titulo
   {
     color:white;
     font-size:50px;
     line-height:110px;
   }
   header nav a
   {
     color:white;
     padding:10px 30px;
     line-height:normal;
     display:inline-block;
     text-decoration:none;
     font-size:20px;
     border-radius:5px;
   }
   header nav a:hover
   {
     background-color: #bb5c78;
     -webkit-transition:all 500ms ;
     -o-transition:all 500ms ;
   }
   .todo
   {
     width:90%;
     max-width:1000px;
     margin:auto;
     overflow:hidden;
     color:rgb(238, 185, 185);
   }